@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
  <h1>Energy</h1>
</div>
<div class="row">
  Energy information from: https://datamarket.azure.com/browse/data?price=free, https://api.datamarket.azure.com/UnitedNations/Energy/
  <br />
  Units in <span id="unit"></span>
</div>
<div class="row">
  <!--<button id="filter">Filter</button>-->
</div>

<div class="row" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
          <div class="table-responsive">
          <table id="dataTable" class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Country</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          </div>
    </div>
  </div>
</div>

<div id="detailsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@section scripts {
<script>
  $(function(){
    var rowSelector = '#dataTable tbody tr';
    // get the data
    $.getJSON('api/energy/solar').then(function(data){
      $('#unit').text(data[0].unit);
       $(rowSelector).remove().end();
       $.each(data, function(key, item){
         $('#dataTable > tbody:last-child').append('<tr>'
                + '<td>' + item.countryId + '</td>'
                + '<td>' + item.countryName + '</td>'
                + '<td>' + item.quantity + '</td>');
       });

      // row details click event
      $(rowSelector).on('click', function() {
        $('#detailsModal').modal('show')
      });
    });
  });
  </script>
}
