@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
  <h1>Energy</h1>
</div>
<div class="row">
  Energy information from: https://datamarket.azure.com/browse/data?price=free, https://api.datamarket.azure.com/UnitedNations/Energy/
</div>
<div class="row">
  <!--<button id="filter">Filter</button>-->
</div>
<div class="row">
  <div class="container">
    <div class="row">
          <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          </div>
    </div>
  </div>
</div>

@section scripts {
<script>
  $(function(){
    //$.getJson('api/solar').then(function(data){
   //   debugger;
    //});
  });
  </script>
}
