@{
    ViewData["Title"] = "Object Orientated Programming - Index";
}

<a asp-controller="Home" asp-action="JQuery">JQuery</a><br />
<a asp-controller="Home" asp-action="OOPWithJQuery">OOP with JQuery</a>