<div class="row">
  Energy information from: https://datamarket.azure.com/browse/data?price=free, https://api.datamarket.azure.com/UnitedNations/Energy/
  <br /> Units in <span></span>
</div>
<div class="row" style="margin-top: 20px; max-width:900px;" *ngIf="showEnergyDataTable">
  <div class="table-responsive">
    <table id="dataTable" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Country</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>